/**
* Tooltip ([data-tooltip])
*/

.tag[data-tooltip] {
    overflow: visible;
}

[data-tooltip] {
    position: relative;
    display: block;
    
    &:not(a):not(button):not(input) {
        text-decoration: none;
    }
    
    &::before,
    &::after {
        display: block;
        z-index: 99;
        position: absolute;
        bottom: 100%;
        left: 50%;
        padding: .25rem .5rem;
        overflow: hidden;
        transform: translate(-50%, -.25rem);
        border-radius: $border-radius;
        background: var(--tooltip-background-color);
        color: var(--tooltip-color);
        font-size: .875rem;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: pre;
        content: attr(data-tooltip);
        opacity: 0;
        pointer-events: none;
    }
    
    // Caret
    &::after {
        padding: 0;
        transform: translate(-50%, 0rem);
        border-top: .3rem solid;
        border-right: .3rem solid transparent;
        border-left: .3rem solid transparent;
        border-radius: 0;
        background-color: transparent;
        color: var(--tooltip-background-color);
        content: '';
    }
    
    &:focus,
    &:hover {
        &::before,
        &::after {
            opacity: 1;
            
            animation-name: slide;
            animation-duration: .2s;
        }
        
        &::after {
            animation-name: slideCaret;
        }
    }
}

// Animations
@keyframes slide {
    from {
        transform: translate(-50%, .75rem);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -.25rem);
        opacity: 1;
    }
}

@keyframes slideCaret {
    from {
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -.25rem);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0rem);
        opacity: 1;
    }
}

.bottom-tooltip[data-tooltip], .bottom-tooltip [data-tooltip] {
    &::before, &::after {
        bottom: auto;
        top: 100%;
        margin-top: 15px;
    }
    
    &::after {
        transform: translate(-50%, -0.55rem); 
        border-bottom: .3rem solid; 
        border-top: none;
    }
}
